/* styles.css */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles for the page */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65; 
}

.hero-img{
  width: 60vw;
  padding-bottom: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header{
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.title{
  color: #f56a6a;
  font-weight: 600;
}

.title {
	display: inline-block;
	position: relative;
}
.title:after {
	content: '';
	display: block;
	margin: auto;
	height: 4px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.title:hover:after {
	width: 100%;
	background: #8f8f8f;
}



.project-description {
  margin: 2rem auto; /* Center horizontally by using auto margin */
  width: 70vw; /* Use 75% of the viewport width */
  text-align: justify; /* Center align text horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-screenshots{
  margin-top: 0;
  padding-top: 0;
}

.project-screenshots, .project-technologies{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Optional: Center the text horizontally */
} 

.pro-desc, .project-screenshots-h2, .project-technologies-h2{
  margin-top: 2em ;
  margin-bottom: 1em;
  color: #f56a6a;
  text-align: center;
  border-bottom: 2px solid black;
  transition: transform 0.5s ease;
}

.pro-desc:hover, .project-screenshots-h2:hover, .project-technologies-h2:hover{
  transform: translateX(20px); 
}

.project-screenshots-h2{
  margin-top: 0;
}

.image-gallery {
  width: 80vw;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks for inline-block elements */
}

.image-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0; /* Remove any default spacing between inline-block elements */
}

.image-list li {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between images */
}

.image-list img {
  max-height: 50vh; /* Limit the height of images (adjust as needed) */
  /* You can also set a max-width if necessary */
}

.pro-pic{
  height: 50vh;
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: center; 
  text-align: center;
  gap: 10px;
  }

  .actions .action-btn a{
    text-decoration: none;
    color: white;
  }

  .actions .action-btn{
    padding: 10px; /* Adjust padding as needed */
    background-color: #f56a6a;
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
  }

  .actions .action-btn:hover{
    padding: 10px; /* Adjust padding as needed */
    background-color: #e43838;
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
  }

@media screen and (max-width: 768px) {
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    text-align: center;
    gap: 10px;
  }
  .actions .action-btn{
    padding: 10px; /* Adjust padding as needed */
    background-color: #f56a6a;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    border: none;
  }
  .actions .action-btn:hover{
    padding: 10px; /* Adjust padding as needed */
    background-color: #e43838;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    border: none;
  }
  .techs-list li {
    color: #f56a6a;
    font-weight: bold;
  }
  .techs-used {
    display: flex;
    flex-direction: column;
    max-height: 200px;  
    overflow: auto;   
    padding: 2px;  
    width: 80vw;
  }
  .project-technologies{
    display: flex;
    flex-direction: column;
  }
  .techs-list {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    text-align: center; /* Center text within list items */
  }
  .tech-icon{
    color: black;
    font-size: 16px;
    padding: 5px;
    margin: 5px;

}
ul li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

ul li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tech-icon{
  padding: 4px;
  color: black;
  font-size: 40px;
}
.icon{
  margin-right: 4px;
}

.pro-info{
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.pro-features{
  color: #f56a6a;
  font-weight: bold;
  margin-right: 4px;
  display: block;
}

/* Center the container horizontally and vertically */
.techs-used {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 5px;
  
}

/* Style the list to have space around items */
.techs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; /* Arrange items vertically */
  gap: 10px; /* Adjust the gap between items as needed */
  text-align: center; /* Center text within list items */
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Optional: Add additional styling for list items */
.techs-list li {
  padding: 10px auto; /* Adjust padding as needed */
  color: #f56a6a;
  font-size: 25px;
  font-weight: bolder;
}

footer{
  text-align: center;
  background-color: rgb(171, 171, 171);
  padding: 4px;
  margin: 10px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.2; 
}
  .hero-img {
    max-width: 90vw; /* Adjust the max-width for smaller screens */
    /* You can add additional styling here for smaller screens */
  }
  header{
    text-align: center;
    padding-top: 1rem;
    margin: 10px;
  }
  header h1{
      color: #f56a6a;
      font-weight: bold;
  }
  .pro-info{
    line-height: 1.3; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  .pro-pic{
    height: 50vh;
  }
 
}





